.container {


  cursor: none;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
  animation: cursorAnimation 0.5s infinite alternate;
}

@keyframes cursorAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
